html{
    font-size: 62.7%;  
    /* 16px*0625=10px conversion en base de 10 */
}

body{
    background-color: pink;
    font-size: 1.4rem;
}


.container{
    border: 2px dotted blue;
    max-width: 96vw;
    margin: 0 auto;
}
/** media queries